<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="ProductMapper">


	<resultMap id="productSelectMap" type="product">
		<result property="prodNo"		column="prod_no"			jdbcType="NUMERIC"/>
		<result property="prodName"		column="prod_name"			jdbcType="VARCHAR"/>
		<result property="prodDetail"	column="prod_detail"		jdbcType="VARCHAR"/>
		<result property="manuDate"		column="manufacture_day"	jdbcType="VARCHAR"/>
		<result property="price"		column="price"				jdbcType="NUMERIC"/>
		<result property="fileName"		column="image_file"			jdbcType="VARCHAR"/>
		<result property="regDate"		column="reg_date"			jdbcType="DATE"/>	
	</resultMap>

	<insert id="addProduct"		parameterType="product">
		INSERT
		INTO product 
		VALUES (#{prodNo}, #{prodName}, #{prodDetail}, #{manuDate}, #{price}, #{fileName}, sysdate)
	</insert>

	<select 	id="getProduct"	parameterType="_int"	resultMap="productSelectMap">
		SELECT
		prod_no , prod_name , prod_detail , manufacture_day ,  price ,  image_file , reg_date 		
		FROM product 
		WHERE prod_no = #{value}
	</select>
	
	<update	id="updateProduct"	parameterType="product" >
	   	UPDATE product
	   	<set>
	   		prod_name 			= #{prodName},
			prod_detail			= #{prodDetail},
			manufacture_day 	= #{manuDate},
			price				= #{price},
			image_file			= #{fileName}
	   	</set>
	   	WHERE prod_no = #{prodNo}
	</update>




</mapper>